/target/
/logging.log
/compileOrar.sh~
/compileOrarCopyLocal.sh~
/uobm1HermitSplitted50types.log
/logging.log.1
/logging.log.2
/logging.log.3
/logging.log.4
/logging.log.5
/logging.log.6
/ontologyForKonclude.funcionalsyntax.owl
/#samwiseDLReasoner.sh#
/compileDLReasoner.sh~
/samwiseOrarCompile.sh~
/.settings/
